@import "../../../stylings/variables";
.count_number {
    // width: 0px;
    // background: inherit;
    // // margin: 5px 5px;
    // text-align: center;
    // color: red;
    // outline: none;
    // border: none;
    // // font-size: 20px;
    // visibility: hidden;
    // -webkit-appearance: none;
    width: 30px;
    /* background: inherit; */
    text-align: center;
    /* color: red; */
    font-weight: 900;
    outline: none;
    color: #212529;
    border: none;
}

.count_btn {
    border-radius: 20px;
    color: white;
    background: $bgColor;
    outline: none;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
