@import "../../../stylings/variables";
@import "../../../stylings/mixin";
.count_number {
    width: 30px;
    text-align: center;
    font-weight: 900;
    outline: none;
    color: black;
    border: none;
    &:hover {
        color: $detailColor;
    }
}
.count_btn {
    border-radius: 20px;
    color: white;
    background: $bgColor;
    outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
@media screen and (max-width: 780px) {
    .count_number {
        width: 40px;
        font-size: 30px;
    }
    .count_btn {
        @include widthOrHeight(60px, 50px);
    }
}
@media screen and (max-width: 600px) {
    .count_number {
        width: 40px;
        font-size: 30px;
    }
    .count_btn {
        @include widthOrHeight(50px, 40px);
    }
}
@media screen and (max-width: 420px) {
    .count_btn {
        @include widthOrHeight(25px, 25px);
    }
    .count_number {
        font-size: 15px;
    }
}
