<!-- <p>admin-gallery works!</p> -->


<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div>
            <h5>Image gallary</h5>
        </div>
        <div>
            <button type="button" class="btn   btn-dark" (click)="openModalAdd(addImageModals)">Add
                Image </button>
        </div>
    </div>

    <div class="form-group searchName">
        <!-- <input type="search" [(ngModel)]="searchName" name="searchName" class="form-control"
            placeholder="filter category Name EN"> -->
    </div>

    <table class="table table-hover  table-bordered">

        <thead>
            <tr>
                <th [class.active]="order === 'id'" (click)="setOrder('id')">
                    ID
                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'title'" (click)="setOrder('title')">
                    Name image
                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'src'" (click)="setOrder('src')">
                    Image
                    <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                </th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let image of imageArr  | orderBy: order:reverse ;">
                <td>{{image.id}}</td>
                <td>{{image.title}}</td>
                <td>
                    <img [src]="image.src" style="width: 100px; height: 100px;" alt="">
                </td>
                <!-- <td>Edite</td> -->
                <td>
                    <button class="btn btn-danger" (click)="deleteImage(image)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #addImageModals>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Category model</h4>
        <button type="button" class="close pull-right" aria-label="Close">
            <span aria-hidden="true" (click)="closeModal()">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <input [(ngModel)]="imageName" name="imageName" #nameENn="ngModel" type="text" id="imageName"
                        class="form-control  " placeholder="name en here..." required>
                </div>
                <!-- <div class="form-group">
                    <input [(ngModel)]="catNameUA" name="catNameUA" #nameUAn="ngModel" type="text" id="catNameUA"
                        class="form-control" placeholder="name ua here..." required>
                        
                </div> -->

                <div class="custom-file" *ngIf="!imageStatus">
                    <input (change)="uploadFile($event)" type="file" class="custom-file-input" id="image" required>
                    <label class="custom-file-label" for="image">Choose file...</label>
                </div>
                <div class="progress mb-3 mt-3" *ngIf="!imageStatus">
                    <div [style.width]="(uploadProgress | async) + '%'"
                        class="progress-bar progress-bar-striped bg-warning" role="progressbar" aria-valuemin="0"
                        aria-valuemax="100" required></div>
                </div>
                <div class="productImage mb-3 mt-3" *ngIf="imageStatus">
                    <img [src]="galleryImage" alt="" style="width: 200px; height: 100px;">
                    <!-- (click)="deleteImage(deleteImageConfirm)" -->
                    <span>
                        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </span>
                </div>
            </div>
            <div class="float-right">
                <button class="btn btn-dark" (click)="addImage()">Add</button>
                <!-- [disabled]="nameENn.invalid || nameUAn.invalid" -->
            </div>
        </form>
    </div>
</ng-template>