<section class="home_section-info">
    <div class="containerE">
        <div class="home_info">
            <h1>
                Ти фанат <span>зоряниих війн</span> і хотів спробувати себе в ролі джедая?
            </h1>
            <h1 class="home_info-one">
                Тоді тобі до <span>нас</span> !!!
            </h1>
            <h1 class="home_info-one">
                <span> LAZER PARK </span>це чудове місце для святкування дня народження , для веселого проведення
                часу і team building.
            </h1>
            <h1 class="home_info-one">
                Переходь в частину <a [routerLink]="[ '/order-birthday']">
                    <span> Birthday</span> </a>
                і дізнавайсь умови святкування Дня Народження.
            </h1>
            <h1 class="home_info-one">
                Преходь в частину <a [routerLink]="[ '/games']">
                    <span> Entertainment</span> </a>
                і дивись які внас круті ігри.
            </h1>

            <h1 class="home_info-one">
                Після твого активного відпочину ми здивуєм тебе нашим смачним <a [routerLink]="[ '/menu/pizza']">
                    <span> Menu .</span> </a>
            </h1>
            <h1 class="home_info-one">
                А обслоговувати тебе буде наша крута <a [routerLink]="[ '/our-team']">
                    <span> команда . </span> </a>
            </h1>
        </div>
    </div>
</section>

<section class="home_section-gallery">
    <div class="home_slider ">
        <ngx-slider [init]="slider"></ngx-slider>
    </div>
</section>

<section class="home_section-map">
    <div class="map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1287.37217377634!2d23.9730958!3d49.8096738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473ae70bf668c1a5%3A0x7ef6ecb28f0f97d5!2sLAZER%20PARK!5e0!3m2!1suk!2sua!4v1599064627077!5m2!1suk!2sua"
            allowfullscreen="" width="100%" height="100%" frameborder="0" style="border:0;" aria-hidden="false"
            tabindex="0">
        </iframe>
    </div>
</section>