<section class="home_section">

    <div class="container">
        <!-- <div class="home_img">
            <img src="../../../assets/images/star_wars_home.jpg" alt="star_wars_home">
        </div> -->
        <div class="home_info">
            <!-- 
                <h1 [ngClass]="{ aaaa: true }" class="home_info-one">
                Ти фанат зоряниих війн і завдижди ,хотів спробувати себе в ролі джедая?
            </h1>
            <p [ngStyle]="{color: false ? 'green':'red'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p> -->
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                Ти фанат зоряниих війн і завдижди ,хотів спробувати себе в ролі джедая?
            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                Тоді тобі до нас!!!
            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                LAZER PARK це чудове місце для святкування дня народження , для веселого проведення часу і team building
            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                Преходь в частину <a class="nav-link" [routerLink]="[ '/order-birthday']">
                    <span> Birthday</span> </a>
                і дізнавайсь умови святкування Дня Народження
            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                А також преходь в частину <a class="nav-link" [routerLink]="[ '/games']">
                    <span> Entertainment</span> </a>
                і дивись які внас круті ігри
            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                Після твого активного відпочину ми здивуєм тебе нашим смачнезним меню <a class="nav-link"
                    [routerLink]="[ '/menu']">
                    <span> Menu </span> </a>

            </h1>
            <h1 [ngClass]="{ invisible: visibility}" class="home_info-one">
                А обслоговувати тебе буде наша крута <a class="nav-link" [routerLink]="[ '/our-team']">
                    <span> команда </span> </a>

            </h1>
        </div>
    </div>

</section>