@import "../../../stylings/variables";
@import "../../../stylings/mixin";
.home_section-info {
    background-image: url(../../../assets/images/home/fon_home1.jpg);
    height: 85vh;
    @include positionSectionHome(cover, fixed, no-repeat);
    // @include flexbox(column, nowrap, center, center);
    margin-top: 150px;
}

.home_info {
    transform: scale(0.9);
    position: absolute;
    line-height: 3;
    text-align: center;
    color: $text_color;
    animation: home_info 1.5s linear;
    a {
        text-decoration: none;
    }
    span {
        color: $detailColor;
    }
    h1 {
        font-family: "Volkon-Bold";
        font-size: 25px;
    }
}

@keyframes home_info {
    0% {
        opacity: 0;
        transform: scale(0.1);
    }
    20% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.4;
    }
    90% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
        transform: scale(0.9);
    }
}

.home_section-gallery {
    background: url(../../../assets/images/home/fon_galary.jpg);
    height: 85vh;

    @include positionSectionHome(cover, fixed, no-repeat);
    .home_slider {
        height: 500px;
        width: 860px;
        position: absolute;
        margin: 0;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }
}

.home_section-map {
    height: 70vh;
    position: relative;
}

.map {
    width: 100%;
    height: 70vh;
}

// .fa-circle::before {
//     visibility: visible;
// }

@media screen and (max-width: 1000px) {
    .home_section-info {
        height: 92vh;
        margin-top: 70px;
    }
    .home_info {
        transform: scale(0.9);
        position: absolute;
        line-height: 3;
        text-align: center;
        color: $text_color;
        h1 {
            font-size: 22px;
        }
    }
    .home_section-gallery {
        height: 60vh;
        .home_slider {
            height: 300px;
            width: 550px;
        }
    }
    .home_section-map {
        height: 40vh;
    }
    .map {
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    .home_section-info {
        height: 60vh;
        margin-top: 0px;
    }
    .home_info {
        line-height: 2;
        h1 {
            font-size: 15px;
        }
    }
    .home_section-gallery {
        height: 50vh;
        .home_slider {
            width: 100%;
            height: 90%;
        }
    }
}
