.entertainmentImage {
    width: 465px;
    height: 200px;
}

.image_tabel {
    width: 200px;
    height: 100px;
}
.card {
    border: 1px solid #343a40;
    margin: 170px auto;
}
.card-header {
    background: #3e4750;
    h5 {
        color: white;
    }
}
table,
tr,
td,
th,
thead,
tbody,
table {
    border: 1px solid #343a40;
    color: black;
}

.searchName {
    margin: 5px 10px -10px 10px;
    width: 96%;
    height: 25px;
}
