.entertainmentImage {
    width: 465px;
    height: 200px;
}

.image_tabel {
    width: 200px;
    height: 100px;
}

// table,
// tr,
// td,
// th,
// thead,
// tbody,
// table {
//     border: 2px solid black;
// }
.card {
    margin: 30px auto;
}

