<p>admin-entertainment works!</p>


<div class="container_tabale">
    <div class="row">
            <div class="mobile-table">
                <table class="iksweb">
                    <thead>
                        <tr>
                            <th>Заголовок</th>
                            <th>Заголовок</th>
                            <th>Заголовок</th>
                            <th>Заголовок</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                        </tr>
                        <tr>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                        </tr>
                        <tr>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td colspan="2">Ячейка</td>
                        </tr>
                        <tr>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                            <td>Ячейка</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
    </div>
</div>