<section class="registrer_section">
    <div class="containerE">
        <div class="rowE">
            <div class="login_card" *ngIf="!switch">
                <ul class="links_sign">
                    <li class="signin_active acti"><a style="color: red;">Sign in</a></li>
                    <li class="signup_active acti"><a (click)="switchForm()">Sign up </a></li>
                </ul>

                <form [formGroup]="form" (ngSubmit)="loginUser()" class="form_login">
                    <div class="form-group">
                        <label class="label" for="userEmailLogin">Email address</label>
                        <input type="email" formControlName="email" class="form-control input_l" id="userEmailLogin"
                            [(ngModel)]="userEmailLogin" placeholder="Enter  email" name="userEmailLogin" required
                            pattern="^[a-z0-9-.]+@[a-z]+\.((com)|(ua)|(net))$"
                            [ngClass]="{ 'is-invalid': submitted && l.email.errors }" />
                        <div *ngIf="submitted && l.email.errors" class="invalid-feedback">
                            <div *ngIf="l.email.errors.required">Email is required</div>
                            <div *ngIf="l.email.errors.email">Email must be a valid email address</div>
                            <div *ngIf="l.email.errors?.pattern && l.email.touched">
                                Incorrectly entered email</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label" for="userPasswordLogin">Password</label>
                        <input type="password" formControlName="password" class="form-control input_l" id="userPasswordLogin"
                            [(ngModel)]="userPasswordLogin" placeholder="Enter password" name="userPasswordLogin"
                            pattern="^\d*\w*$" [ngClass]="{ 'is-invalid': submitted && l.password.errors }" />
                        <div *ngIf="submitted && l.password.errors" class="invalid-feedback">
                            <div *ngIf="l.password.errors.required">Password is required</div>
                            <div *ngIf="l.password.errors?.pattern && l.password.touched ">
                                Only numbers and letters
                            </div>
                        </div>
                        <div [ngClass]="{invisible: visibility}" style="color: #dc3545; margin-top: 5px;"> Such user
                            does not exist</div>
                    </div>
                    <button class=" btn_primary"> Login In </button>
                </form>
            </div>

            <div class=" login_card" *ngIf="switch">
                <div class="login-card">
                    <ul class="links_sign">
                        <li routerLinkActive="active_link" class="signin_active  acti">
                            <a (click)="switchForm()">
                                <span>Sign in</span>
                            </a>
                        </li>
                        <li routerLinkActive="active_link" class="signup_active  acti">
                            <a style="color: red;">
                                Sign up
                            </a>
                        </li>
                    </ul>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class=" form_group">
                            <label class="label" for="firstName">First Name</label>
                            <input type="text" formControlName="firstName" class="form-control input_l" [(ngModel)]="firstName"
                                name="firstName" id="firstName" pattern="^\D*$"
                                [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                <div *ngIf="f.firstName.errors?.pattern && f.firstName.touched">Only letters</div>
                            </div>
                        </div>
                        <div class="form_group">
                            <label class="label " for="lastName">Last Name</label>
                            <input type="text" formControlName="lastName" class="form-control input_l" id="lastName"
                                [(ngModel)]="lastName" name="lastName" pattern="^\D*$"
                                [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                <div *ngIf="f.lastName.errors?.pattern && f.lastName.touched">Only letters</div>
                            </div>
                        </div>

                        <div class="form_group">
                            <label class="label" for="userEmail">Email</label>
                            <input type="text" formControlName="email" class="form-control input_l" id="userEmail"
                                [(ngModel)]="userEmail" name="userEmail"
                                pattern="^[a-z0-9-.]+@[a-z]+\.((com)|(ua)|(net))$"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors?.pattern && f.email.touched">
                                    Incorrectly entered email</div>
                            </div>
                        </div>

                        <div class=" form_group">
                            <label class="label" for="userPassword">Password</label>
                            <input type="password" formControlName="password" class="form-control input_l" id="userPassword"
                                [(ngModel)]="userPassword" name="userPassword" pattern="^\d*\w*$"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters
                                </div>
                                <div *ngIf="f.password.errors?.pattern && f.password.touched ">
                                    Only numbers and letters
                                </div>
                            </div>
                        </div>

                        <div class="form_group form-check">
                            <input type="checkbox" formControlName="acceptTerms" id="acceptTerms"
                                class="form-check-input input_l"
                                [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors   }" />
                            <label for="acceptTerms" class="form-check-label label label_check">Accept Terms &
                                Conditions</label>
                        </div>
                        <button class="btn_primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>