@import "../../stylings/mixin";
.registrer_section {
    background-image: url(../../assets/images/home/fon_home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-transform: uppercase;
    padding-right: 10px;
    @include widthOrHeight(100%, 85vh);
    color: #ffffff;
}

.links_sign {
    display: flex;
}
.form_login {
    margin-top: 40px;
}
.login_card {
    width: 430px;
    background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95));
    padding: 30px;
    margin-top: 180px;
    font-family: "Roboto", sans-serif;
    border-radius: 5px;
}

.form_group {
    margin: 15px 10px;
}
.label_check {
    margin-top: 5px;
}
.label {
    margin-bottom: 10px;
    cursor: pointer;
}
input {
    cursor: pointer;
}
.btn_primary {
    background-color: #242c53;
    border-color: #242c53;
    @include widthOrHeight(100%, 40px);
    color: black;
    cursor: pointer;
    &:hover {
        background-color: #4a4a68;
        border-color: #4a4a68;
        color: white;
    }
}

.active_invalide {
    display: none;
}
.color_txt_invalide {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
.signin_active,
.signup_active {
    a {
        margin: 10px 10px;
        cursor: pointer;
        &:hover {
            color: #222;
        }
    }
}
@media screen and (max-width: 780px) {
    .login_card {
        margin-top: 70px;
    }
}
@media screen and (max-width: 600px) {
    .login_card {
        width: 90%;
        margin-top: 70px;
    }
}

@media screen and (max-width: 350px) {
    .login_card {
        width: 90%;
        margin: 5px auto;
    }
    .input_l {
        height: 30px;
    }
    .label {
        font-size: 15px;
    }
    .btn_primary {
        height: 35px;
    }
}
