<section class="section_menu">
    <div class="containerE">
        <div class="rowE">
            <div class="box_name-assortment">
                <div class="pizza">
                    <a class="nav_link" routerLinkActive="active_link-menu " [routerLink]="[ '/menu/pizza']">
                        <button type="button" class="btn_name-assortment ">PIZZA</button>
                    </a>
                </div>
                <div class="burger">
                    <a class="nav_link" routerLinkActive="active_link-menu " [routerLink]="[ '/menu/burger']">
                        <button type="button" class="btn_name-assortment ">BURGER</button>
                    </a>
                </div>
                <div class="drinks">
                    <a class="nav_link" routerLinkActive="active_link-menu " [routerLink]="[ '/menu/drinks']">
                        <button type="button" class="btn_name-assortment ">DRINKS</button>
                    </a>
                </div>
                <div class="salad">
                    <a class="nav_link" routerLinkActive="active_link-menu " [routerLink]="[ '/menu/salad']">
                        <button type="button" class="btn_name-assortment ">SALAD</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="box_assortment-menu">
            <div class="menu_card" *ngFor="let product of productsArr">
                <div class="image">
                    <img class="img_menu" [src]="product?.image">
                    <div class="menu_text">
                        <h2><span> Ціна {{product?.priceMenu}} грн</span></h2>
                        <h2><span>Вага {{product?.weight}} гр</span></h2>
                    </div>

                </div>
                <div class="element_menu title">
                    <h3>{{product?.nameUA| titlecase}}</h3>
                </div>

                <div class="element_menu title">
                    <h4>Опис</h4>

                </div>
                <div class="element_menu ">
                    <p>
                        {{product?.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>