@import "../../../stylings/variables";
@import "../../../stylings/mixin";
.team_section {
    width: 100%;
    min-height: 90vh;
    margin-top: 100px;
    background-image: url(../../../assets/images/home/fon_home1.jpg);
    @include positionSectionHome(cover, fixed, no-repeat);
}

.element_card {
    margin: 10px auto;
}

.card_game {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    font-family: "Volkon-Bold";
    color: $text_color;
    background: $bgColor;
    border-radius: 20px;
    animation: opasity 0.7s linear;
    img {
        @include widthOrHeight(100%, 200px);
        border-radius: 20px;
    }
}

.title {
    color: grey;
    font-size: 18px;
}
@media screen and (max-width: 1000px) {
    .team_section {
        min-height: 82vh;
        margin-top: 0px;
    }
    .element_card {
        margin: 10px auto;
    }
    .card_game {
        width: 350px;
        img {
            @include widthOrHeight(100%, 200px);
            border-radius: 20px;
        }
    }

    .title {
        color: grey;
        font-size: 18px;
    }
}
@media screen and (max-width: 600px) {
    .team_section {
        margin-top: 0px;
        min-height: 82vh;
    }
}
@media screen and (max-width: 400px) {
    .team_section {
        margin-top: 0px;
    }
    .card_game {
        width: 90%;
    }
}
