@font-face {
    font-family: "Nosifer";
    src: url(assets/fonts/Nosifer-Regular.ttf);
    // src: url(../assets/fonts/Nosifer-Regular.ttf);
}
@font-face {
    font-family: "Comfortaa";
    src: url(assets/fonts/Shrikhand-Regular.ttf);
}
@font-face {
    font-family: "Volkon-Bold";
    src: url(assets/fonts/Vollkorn/VollkornSC-Bold.ttf);
}

@font-face {
    font-family: "roboto-italik";
    src: url(assets/fonts/roboto/Roboto-italic.ttf);
}
