<!-- <p>games works!</p> -->

<section class="games_section">
    <div class="container">
        <div class="row">

            <div class="games_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="Avatar">
                <div class="games_info">
                    <h4>Лазер таг</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="games_block">
                <img src="..//..//..//assets/images/header_bg.jpg" alt="Avatar">
                <div class="img_card" class="games_info">
                    <h4>Лазер таг</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="games_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="Avatar">
                <div class="games_info">
                    <h4>Лазер таг</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="games_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="Avatar">
                <div class="games_info">
                    <h4>Лазер таг</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="games_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="Avatar">
                <div class="games_info">
                    <h4>Лазер таг</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
        </div>
    </div>
</section>