@import "../../../stylings/variables";
@import "../../../stylings/mixin";

.calculator_standart_section {
    min-height: 90vh;
    width: 100%;
    margin-top: 100px;
    background: rgb(250 250 250 / 57%);
    font-family: "roboto-italik";
    font-weight: 900;
    font-size: 15px;
    color: black;
}
.calculator_block {
    padding: 10px;
    width: 100%;
    margin: 5% 0px;
    @include displayFlex(flex, none, column);
}
.count_btn-people {
    color: $whiteColor;
    outline: none;
    background: $bgColor;
    border-radius: 20px;
}
.block_assortment {
    width: 90%;
    min-height: 200px;
    margin: 0px auto;
    padding: 5px;
    box-shadow: 20px 20px 15px rgb(33 37 41);
    @include borBackroBorR(1px solid #eeeff0, $whiteColor, 20px);
}
.data-time_block {
    @include displayFlex(flex, space-around, none);
}
.date_text {
    color: black;
    text-align: center;
}
.margin_content {
    margin: 10px 0px 0px 20px;
    align-items: center;
}
.time_birhday {
    width: 300px;
    @include displayFlex(flex, none, column);
    align-items: center;
    margin-bottom: 35px;
}
.time_btn {
    display: block;
    @include widthOrHeight(100%, 40px);
    left: 0;
    top: 0;
    outline: 0;
    background-color: $bgColor;
    @include borBackroBorR(0, $bgColor, 20px);
    span {
        color: $whiteColor;
        text-align: center;
        align-items: center;
    }
}
.time_input {
    line-height: 30px;
    max-width: 60%;
    text-align: center;
    @include borBackroBorR(2px solid $bgColor, $whiteColor, 20px);
    font-weight: 800;
}

.info_people_orderS {
    @include displayFlex(flex, space-evenly, none);
    margin: 30px auto 20px auto;
}
.name_and_phone {
    @include displayFlex(flex, none, column);
}
.label_orderS {
    margin-bottom: 5px;
    text-align: center;
}
.textS {
    margin: 0px 40px;
    font-size: 20px;
    font-weight: 900;
}
.input_phone_nameS {
    @include widthOrHeight(300px, 45px);
    border-radius: 20px;
    padding: 15px;
    &:focus {
        border: 2px solid #feda4a;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.count_peopleS {
    @include displayFlex(flex, center, none);
    align-items: center;
    input {
        display: none;
    }
}
.btn_next,
.btn_add {
    outline: none;
    color: $whiteColor;
    @include borBackroBorR(none, $bgColor, 20px);
    @include widthOrHeight(100px, 40px);
    margin: 10px 10px;
    &:hover {
        color: #a20e15;
    }
}

.orderBirthdayS {
    box-shadow: 20px 20px 15px rgb(33 37 41);
    padding: 10px 10px;
    width: 65%;
    height: fit-content;
    @include displayFlex(flex, none, column);
    @include borBackroBorR(1px solid #eeeff0, $whiteColor, 20px);
    h1 {
        text-align: center;
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 10px;
    }
    &_last {
        @include displayFlex(flex, space-around, none);
        @include widthOrHeight(98%, 50px);
        padding: 10px;
        margin: 10px 0px;
        @include borBackroBorR(none, $whiteColor, 20px);
        align-items: center;
    }
    .order_menuS {
        display: flex;
        margin: 5px auto;
        align-items: center;
        input {
            display: none;
        }
    }
}
.modal_time {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 15px 30px;
    .li {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}
.order_finalS {
    display: flex;
    width: 90%;
    margin: 2px 0px 0px 60px;
}

.time_btn-modal {
    min-width: 120px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
    box-sizing: border-box;
    @include borBackroBorR(1px solid #a4a4a4, $whiteColor, 10px);
    margin: 10px 10px;
    .input_time {
        visibility: hidden;
        width: 0px;
        font-weight: bold;
    }
}
.total_cardS {
    @include widthOrHeight(30%, 28%);
    background: $whiteColor;
    box-shadow: 20px 20px 15px rgb(33 37 41);
    margin-left: 15px;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 2px;
}
.mat-input-element {
    display: none;
}
.total_card_price {
    @include displayFlex(flex, space-between, none);
    margin: 15px auto;
}
.data-time_block {
    input:first {
        width: 0px;
    }
}
.counter_order_final {
    margin-left: 30px;
}

.info_birthday-one {
    margin-left: 20px;
}
.margin {
    margin: 15px 0px;
}
.block_order_endS {
    @include displayFlex(flex, none, column);
}
.boundary_lineS {
    border: 1px solid rgb(15 14 21 / 54%);
    width: 90%;
    margin: 10px auto;
}
.table_menu_game {
    color: black;
    margin-bottom: 0px;
}
input.ng-invalid {
    border: 2px solid red;
}
input.ng-valid {
    border: 2px solid green;
}
.link_backS {
    outline: none;
    text-decoration: none;
    color: black;
    h1 {
        margin: 10px 10px 25px 20px;
    }
    span {
        color: red;
    }
    &:hover {
        color: red;
    }
}

@media screen and (max-width: 1000px) {
    .calculator_standart_section {
        margin-top: 0px;
    }
    .time_btn {
        width: 100%;
    }
    .input_phone_nameS {
        @include widthOrHeight(300px, 45px);
        border-radius: 20px;
        padding: 15px;
    }
    .total_cardS {
        margin-left: 10px;
        padding: 10px;
    }
    .orderBirthdayS {
        width: 60%;
    }
}
@media screen and (max-width: 780px) {
    .calculator_standart_section {
        font-size: 17px;
    }
    .order_finalS {
        flex-direction: column;
        margin: 2px auto;
    }
    .orderBirthdayS {
        width: 100%;
        font-size: 25px;
    }
    .time_birhday {
        width: 100%;
    }
    .time_btn,
    .mat-form-field,
    .input_phone_nameS {
        @include widthOrHeight(60%, 50px);
        margin: 20px auto;
    }
    .label_orderS {
        font-size: 30px;
    }
    .total_cardS {
        width: 70%;
        margin-left: 15%;
        font-size: 25px;
        height: 30%;
    }
    .data-time_block,
    .info_people_orderS {
        @include displayFlex(flex, none, column);
    }
    .count_btn-people {
        @include widthOrHeight(70px, 40px);
    }
    .count_peopleS {
        font-size: 30px;
        .text {
            font-size: 30px;
        }
    }
    .btn_add {
        @include widthOrHeight(150px, 55px);
    }
    .time_input {
        height: 100%;
    }
}
@media screen and (max-width: 600px) {
    .link_back {
        h1 {
            margin: 20px 0px 30px 0px;
        }
    }
    .orderBirthdayS {
        font-size: 15px;
    }
    .mobile_none {
        display: none;
    }
    .time_birhday {
        width: 100%;
    }
    .time_btn,
    .mat-form-field,
    .input_phone_nameS {
        @include widthOrHeight(95%, 50px);
        margin: 20px auto;
    }
    .label_orderS {
        font-size: 25px;
    }
    .total_cardS {
        font-size: 20px;
        width: 90%;
        margin-left: 5%;
    }
    .btn_add {
        margin-top: 20px;
    }
    .time_btn {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .orderBirthdayS h1 {
        font-size: 25px;
    }
    .block_assortment {
        overflow: scroll;
        width: 98%;
    }
    .textS {
        margin: 0px 10px;
    }
    .time_input {
        width: 40%;
    }
    .count_btn-people {
        @include widthOrHeight(30px, 30px);
    }
    .count_peopleS {
        font-size: 20px;
    }
    .margin_content {
        margin: 10px 0px 0px 0px;
    }
    .btn_add{
        @include widthOrHeight(100px, 50px);
        font-size: 15px;
    }
    .total_cardS {
        font-size: 15px;
    }
}
