<!-- <p>footer works!</p> -->
<footer>
    <div class="containerE">
        <div class="rowE">
            <div class="  ">
                <!-- <h2>Lazer Park</h2> -->
                <div class="">
                    <ul>
                        <li class=" li_footer   " routerLinkActive="active_link">
                            <a class="link " routerLink="home">

                                <h2>Lazer Park</h2>

                            </a>
                        </li>
                        <li class=" li_footer" routerLinkActive="active_link">
                            <a class="link " [routerLink]="[ 'games' ]">

                                <h3> Entertainment</h3>

                            </a>
                        </li>
                        <li class=" li_footer" routerLinkActive="active_link">
                            <a class="link " [routerLink]="[ 'order-birthday']">

                                <h3>Birthday</h3>

                            </a>
                        </li>
                        <li class=" li_footer" routerLinkActive="active_link">
                            <a class="link " [routerLink]="[ 'menu']">

                                <h3>Menu</h3>

                            </a>
                        </li>
                        <li class=" li_footer" routerLinkActive="active_link">
                            <a class="link " [routerLink]="[ 'our-team']">

                                <h3>Our Team</h3>

                            </a>
                        </li>

                        <li class=" li_footer" routerLinkActive="active_link">

                            <!-- <br>
                            <a class="link " [routerLink]="[ 'office']" routerLinkActive="active_link">
                                <span>
                                    <h3>Office</h3>
                                </span>
                            </a> -->
                        </li>
                    </ul>
                </div>
            </div>

            <div class="  mt_title">
                <h2>Контакти</h2>
                <div class="info_footer  ">
                    <a class="social_foot" href="https://www.facebook.com/LazerParkPivdenniy/" target="_blank">
                        <i class="fa fa-facebook "></i>
                    </a>

                    <a class="social_foot" href="https://www.instagram.com/lazerpark/?hl=uk" target="_blank">
                        <!-- <i class="fa fa-instagram "></i> -->
                        <i class="fa fa-instagram"></i>
                    </a>
                    <div class="social_foot">
                        <p>0987654321</p>
                    </div>
                </div>
            </div>
            <div class="  mt_title">
                <h2>Ми знаходмось за адресою</h2>
                <div class="social_foot adres">
                    <a class="social_foot" href=" https://www.google.com/maps/place/LAZER+PARK/@49.8096738,23.9730958,18z/data=!4m12!1m6!3m5!1s0x473ae70bf668c1a5:0x7ef6ecb28f0f97d5!2sLAZER+PARK!8m2!3d49.8098845!4d23.9735665!3m4!1s0x473ae70bf668c1a5:0x7ef6ecb28f0f97d5!8m2!3d49.8098845!4d23.9735665
                    " target="_blank">
                        <!-- <i class="fa fa-instagram "></i> -->
                        <p class="info_footer"> Щирецька 36</p>
                    </a>
                    <p class="info_footer">Ми чекаємо на тебе</p>
                    <!-- <p>Щирецька 36</p> -->
                    <!-- https://www.google.com/maps/place/LAZER+PARK/@49.8098845,23.9713778,17z/data=!4m12!1m6!3m5!1s0x473ae70bf668c1a5:0x7ef6ecb28f0f97d5!2sLAZER+PARK!8m2!3d49.8098845!4d23.9735665!3m4!1s0x473ae70bf668c1a5:0x7ef6ecb28f0f97d5!8m2!3d49.8098845!4d23.9735665 -->
                </div>
            </div>
        </div>
    </div>
</footer>