@import "../../../stylings/variables";
footer {
    top: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    font-family: "Volkon-Bold";
    height: 150px;
    color: white;
    font-size: 25px;
    background: $bgColor;
  
    h2 {
        font-size: 25px;
        color: white;
    }
    h3 {
        color: #8d8d8d;
    }
    li {
        margin: 9px 0;
        font-size: 19px;
    }
}

.mt_title {
    margin-top: 10px;
}

.info_footer {
    display: flex;
    flex-direction: column;
    margin: 9px auto;
}

a:link {
    text-decoration: none;
    color: #8d8d8d;
}

.active_link {
    h3,
    h2 {
        color: red;
    }
}

.social_foot {
    text-align: center;
    color: #8d8d8d;
    margin-top: 5px;
}

@media screen and (max-width: 1000px) {
    footer {
        font-size: 20px;

        h2 {
            font-size: 20px;
        }
        li {
            margin: 9px 0;
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 600px) {
    footer {
        height: 300px;
        font-size: 25px;
        text-align: center;
        h2 {
            font-size: 25px;
        }
    }
}
