/* Задаем ширину меню */
#menu {
    width: 210px;
    margin: 15px;
}
/* Стили для наших пунктов меню */
#menu ul {
    list-style: none;
}

#menu li {
    list-style: none;
    display: block;
    height: 40px;
    margin: 7px 0;
    width: max-content;
}

#menu li a {
    display: block;
    height: 33px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 25px;
    text-decoration: none;
    color: #006a35;
    background: #95df8e;
    border: solid 1px #006a35;
    border-radius: 10px;
}

/* Подсветка наведденого пункта */
#menu li a:hover {
    background: #35c835;
    color: #fff;
}

.section_admin {
    display: flex;
}

.container{
    min-height: 85vh;
    
}
.btn_primary {
    background-color: #242c53;
    border-color: #242c53;
    width: 200px;
    border-radius: 10px;
    height: 40px;
    cursor: pointer;
    &:hover {
        background-color: #4a4a68;
        border-color: #4a4a68;
        color: white;
    }
}
