
.btn_primary {
    margin-top: 5px;
    background-color: #343a40;
    border-color: #343a40;
    width: 200px;
    border-radius: 10px;
    height: 40px;
    color: #feda4a;
    cursor: pointer;
    &:hover {
        background-color: #4a4a68;
        border-color: #4a4a68;
        color: white;
    }
}

.link_block {
    margin-top: 170px;
}
