/* You can add global styles to this file, and also import other style files */

@import "stylings/reset";
@import "stylings/font";
@import "stylings/variables";


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerE {
  width: 940px;
  height: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
