/* You can add global styles to this file, and also import other style files */

@import "stylings/reset";
@import "stylings/font";
@import "stylings/variables";

.rowE {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerE {
  width: 940px;
  height: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}

@keyframes opasity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .containerE {
    width: 750px;
  }
}
@media screen and (max-width: 600px) {
  .containerE {
    width: 100%;
    overflow-y: scroll;
  }
}
