
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$entertainment-center-primary: mat-palette($mat-indigo);
$entertainment-center-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$entertainment-center-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$entertainment-center-theme: mat-light-theme($entertainment-center-primary, $entertainment-center-accent, $entertainment-center-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($entertainment-center-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$entertainment-center-primary: mat-palette($mat-indigo);
$entertainment-center-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$entertainment-center-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$entertainment-center-theme: mat-light-theme($entertainment-center-primary, $entertainment-center-accent, $entertainment-center-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($entertainment-center-theme);

/* You can add global styles to this file, and also import other style files */

@import "stylings/reset";
@import "stylings/font";
@import "stylings/variables";

.rowE {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.containerE {
  width: 940px;
  height: 100%;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;

  span {
    visibility: hidden;
  }

  &.active {
    color: #000;

    span {
      visibility: visible;
    }
  }
}

@keyframes opasity {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 0.1;
  }
  70% {
    opacity: 0.4;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .containerE {
    width: 750px;
  }
}
@media screen and (max-width: 600px) {
  .containerE {
    width: 100%;
    overflow-y: scroll;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
