@import "../../../stylings/variables";
@import "../../../stylings/mixin";

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    background: #0f0e15;
    background-size: cover;
    .menu_burger-btn {
        display: none;
    }
    .logo {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    span {
        color: $text_color;
        &:hover {
            color: red;
        }
    }
    h3 {
        font-family: "Nosifer";
        font-size: 20px;
    }
}

.logo_imgs {
    width: 160px;
}

.center_navbar {
    margin: 0 20px;
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo_header {
    width: 200px;
}

a:link {
    text-decoration: none;
}

.navbar_nav {
    display: flex;
    flex-direction: row;
}

.li_header {
    margin: 0px 5px;
}

.active_link {
    span {
        color: red;
    }
}

.headerScrol {
    height: 85px;
    opacity: 0.8;
}

@media screen and (max-width: 1000px) {
    header {
        height: 70px;
        h3 {
            font-size: 15px;
            transform: scale(1.1);
        }
    }
    .center_navbar {
        padding: 10px;
    }
    .li_header {
        margin: 0px 9px;
    }
    .logo_imgs {
        width: 140px;
    }
}
@media screen and (max-width: 780px) {
    header {
        height: 100px;
        position: relative;
        background: $bgColor;
        transition: 1s;
        font-size: 30px;
        font-family: "Volkon-Bold";
        .menu_burger-btn {
            @include widthOrHeight( 150px, 50px);
            border-radius: 50px;
            background: border-box;
            outline: none;
            display: block;
        }
    }
    .navbar_nav {
        display: none;
    }
    .center_navbar {
        margin: 0px auto;
    }

    .mobileHead {
        height: 350px;
        transition: 1s;
        background: $bgColor;
        z-index: 11;
        h3 {
            font-size: 20px;
            margin: 10px 0px;
        }
        .center_navbar {
            margin: 0px auto;
        }
        .navbar_nav {
            animation: opasity 0.5s linear;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .menu_burger-btn {
            margin: 20px auto 10px auto;
        }
        .logo_imgs {
            display: none;
        }
    }
}
@media screen and (max-width: 650px) {
    header {
        height: 70px;
        position: relative;
        background: $bgColor;
        transition: 1s;
        font-size: 20px;
        font-family: "Volkon-Bold";
        .menu_burger-btn {
            width: 150px;
            height: 50px;
            border-radius: 50px;
            background: border-box;
            outline: none;
            display: block;
        }
    }
    .navbar_nav {
        display: none;
    }
    .center_navbar {
        margin: 0px auto;
    }

    .mobileHead {
        height: 350px;
        transition: 1s;
        background: $bgColor;
        z-index: 11;
        h3 {
            font-size: 20px;
            margin: 10px 0px;
        }
        .center_navbar {
            margin: 0px auto;
        }
        .navbar_nav {
            animation: opasity 0.5s linear;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .menu_burger-btn {
            margin: 20px auto 10px auto;
        }
    }

    .logo_imgs {
        display: none;
    }
}
