<!-- <p>header works!</p> -->
<header>
    <!-- <div>
        <img class="logo" src="../../../assets/images/header_bg.jpg" alt="Logo.two">
    </div> -->
    <div class="containerE">
        <div class="center_navbar">
            <div class="logo" class="logo_header">
                <a class="navbar-brand" routerLink="home">
                    <span>
                        <h3>Lazer Park</h3>
                    </span>
                    <span>  <img class="logo_imgs" src="../../../assets/images/home/logo.png" alt="logo_smal"></span>
                </a>
            </div>

            <nav class="">
                <ul class="navbar_nav">
                    <li class=" li_header ">
                        <a class="nav-link" [routerLink]="[ 'games' ]">
                            <span>
                                <h3> Entertainment</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header">
                        <a class="nav-link" [routerLink]="[ 'order-birthday']">
                            <span>
                                <h3>Birthday</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header">
                        <a class="nav-link" [routerLink]="[ 'menu']">
                            <span>
                                <h3>Menu</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header">
                        <a class="nav-link" [routerLink]="[ 'our-team']">
                            <span>
                                <h3>Our Team</h3>
                            </span>
                        </a>
                    </li>
                    <!-- <li class="nav-item li_header">
                        <a class="nav-link" [routerLink]="[ 'order-birthday']">
                            <span>
                                <h3>Office</h3>
                            </span>
                        </a>
                    </li> -->
                    <li class=" li_header">
                        <a class="nav-link" [routerLink]="[ 'admin']">
                            <span>
                                <h3>Admin</h3>
                            </span>
                        </a>
                        <br>
                        <a class="" [routerLink]="[ 'office']">
                            <span>
                                <h3>Office</h3>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>