<header [class.mobileHead]="!menuBurgerNav">
    <div class="containerE">
        <div class="center_navbar ">
            <nav>
                <button type="button" class="menu_burger-btn" (click)="openMenuNav()">
                    <span>Menu</span>
                </button>
                <ul class="navbar_nav  ">
                    <li class=" li_header" routerLinkActive="active_link">
                        <a routerLink="home" (click)="menuNavBarClose()">
                            <span>
                                <h3>Lazer Park</h3>
                            </span>
                            <span>
                                <img class="logo_imgs" src="../../../assets/images/home/logo.png" alt="logo_smal">
                            </span>
                        </a>
                    </li>
                    <li class=" li_header  " routerLinkActive="active_link">
                        <a class="" [routerLink]="[ 'games' ]" (click)="menuNavBarClose()">
                            <span>
                                <h3> Entertainment</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="[ 'order-birthday']" (click)="menuNavBarClose()">
                            <span>
                                <h3>Birthday</h3>
                            </span>
                        </a>
                        <a class="link " [routerLink]="[ 'calculator-birthday']"> </a>
                        <a class="link " [routerLink]="[ 'calculator-standart']"> </a>
                        <a class="link " [routerLink]="[ 'calculator-premium']"> </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="[ '/menu/pizza']" (click)="menuNavBarClose()">
                            <span>
                                <h3>Menu</h3>
                            </span>
                        </a>
                        <a class="link " [routerLink]="[ '/menu/salad']"> </a>
                        <a class="link " [routerLink]="[ '/menu/burger']"></a>
                        <a class="link " [routerLink]="[ '/menu/drinks']"> </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link" (click)="menuNavBarClose()">
                        <a class="link " [routerLink]="[ 'our-team']">
                            <span>
                                <h3>Our Team</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="['admin-login']" *ngIf="!loginStatus"
                            (click)="menuNavBarClose()">
                            <span>
                                <h3>Exit</h3>
                            </span>
                        </a>
                        <a [routerLink]="[ '/'+loginUrl ]" *ngIf="loginStatus" (click)="menuNavBarClose()">
                            <span>
                                <h3>{{ loginName|titlecase }}</h3>
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>