@import "../../../stylings/variables";

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    // background: rgb(44, 23, 23);
    z-index: 10;
    background: url(../../../assets/images/home/header_bg.jpg) 100% 67% no-repeat;
    background-size: cover;

    .logo {
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    span {
        color: $text_color;
    }
    span:hover {
        color: lightblue;
    }
    h3 {
        font-family: "Nosifer";
        font-size: 19px;
    }
}
.logo_imgs {
    width: 160px;
}

.center_navbar {
    margin: 0 20px;
    position: absolute;
    display: flex;

    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.logo_header {
    width: 200px;
}

a:link {
    text-decoration: none;
}

.navbar_nav {
    display: flex;
    flex-direction: row;
}

.li_header {
    margin: 10px 9px;
}

.active_link {
    span{
        color: red;
    }
}


