<!-- <p>header works!</p> -->
<header>
    <!-- <div>
        <img class="logo" src="../../../assets/images/header_bg.jpg" alt="Logo.two">
    </div> -->
    <div class="containerE">
        <div class="center_navbar">
            <!-- <div class="logo" class="logo_header">
           
            </div> -->

            <nav class="">
                <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{eee:true}">
                    <a routerLink="home">Главная</a>
                </li> -->

                <ul class="navbar_nav ">

                    <li class=" li_header   " routerLinkActive="active_link">
                        <a routerLink="home">
                            <span>
                                <h3>Lazer Park</h3>
                            </span>
                            <span>
                                <img class="logo_imgs" src="../../../assets/images/home/logo.png" alt="logo_smal">
                            </span>
                        </a>
                    </li>

                    <li class=" li_header  " routerLinkActive="active_link">
                        <a class="" [routerLink]="[ 'games' ]">
                            <span>
                                <h3> Entertainment</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="[ 'order-birthday']">
                            <span>
                                <h3>Birthday</h3>
                            </span>
                        </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <!-- <a class="link " [routerLink]="[ 'menu']">
                            <span>
                                <h3>Menu</h3>
                            </span>
                        </a>  -->
                        <a class="link " [routerLink]="[ '/menu/pizza']">
                            <span>
                                <h3>Menu</h3>
                            </span>
                        </a>
                        <a class="link " [routerLink]="[ '/menu/salad']">

                        </a>
                        <a class="link " [routerLink]="[ '/menu/burger']">

                        </a>
                        <a class="link " [routerLink]="[ '/menu/drinks']">

                        </a>
                    </li>
                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="[ 'our-team']">
                            <span>
                                <h3>Our Team</h3>
                            </span>
                        </a>
                    </li>

                    <li class=" li_header" routerLinkActive="active_link">
                        <a class="link " [routerLink]="[ 'admin']">
                            <span>
                                <h3>Admin</h3>
                            </span>
                        </a>
                        <!-- <br>
                        <a class="link " [routerLink]="[ 'office']" routerLinkActive="active_link">
                            <span>
                                <h3>Office</h3>
                            </span>
                        </a> -->
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>