@import "../../../stylings/variables";
@import "../../../stylings/mixin";

.calculator_section {
    min-height: 90vh;
    width: 100%;
    margin-top: 100px;
    background: rgb(250 250 250 / 57%);
    font-family: "roboto-italik";
    font-weight: 900;
    font-size: 15px;
    color: black;
}

.margin {
    margin: 15px auto;
}
.calculator_block {
    padding: 10px;
    width: 100%;
    margin: 5% 0px;
    @include displayFlex(flex, none, column);
}

.block_assortment {
    width: 90%;
    min-height: 200px;
    margin: 0px auto;
    padding: 5px;
    box-shadow: 20px 20px 15px rgb(33 37 41);
    border: 1px solid #eeeff0;
    background: $whiteColor;
    border-radius: 20px;
    overflow: hidden;
}

.time_btn {
    display: block;
    width: 300px;
    height: 40px;
    outline: 0;
    border: 0;
    background-color: $bgColor;
    border-radius: 20px;
    span {
        color: $whiteColor;
        text-align: center;
        align-items: center;
    }
}

.time_input {
    line-height: 30px;
    border: 2px solid $bgColor;
    background-color: $whiteColor;
    max-width: 60%;
    text-align: center;
    border-radius: 20px;
    font-weight: 800;
}

.modal_time {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 15px 30px;
    .li {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.time_btn-modal {
    min-width: 120px;
    line-height: 40px;
    min-height: 40px;
    text-align: center;
    background: $whiteColor;
    border: 1px solid #a4a4a4;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px 10px;
}

.count_people {
    @include displayFlex(flex, center, none);
    height: 60px;
    align-items: center;
    input {
        display: none;
    }
    .text {
        margin: 0px 40px;
        font-size: 20px;
        font-weight: 900;
    }
}

.count_menu {
    margin-top: 30px;
    text-align: center;
    button {
        background: $bgColor;
        @include widthOrHeight(100px, 50px);
        border-radius: 10px;
        outline: none;
        color: $whiteColor;
    }
}

.count_btn-people {
    border-radius: 20px;
    color: $whiteColor;
    background: $bgColor;
    outline: none;
}
.mat-input-element {
    display: none;
}
.data-time_block,
.input_phone_nameP {
    @include displayFlex(flex, space-around, none);
    margin: 30px auto;
}

.counter_order_final {
    margin-left: 30px;
}

.img_order_card {
    @include widthOrHeight(100px, 100px);
}

.delateProduct {
    cursor: pointer;
    &:hover {
        color: red;
    }
}
.add-Product_Btn {
    color: $whiteColor;
    background: #0f0e15;
    border-radius: 20px;
    outline: none;
    @include widthOrHeight(100px, 30px);
    &:hover {
        color: #a20e15;
    }
}
.info_birthday-one {
    margin-left: 20px;
}

.btn_add,
.btn_back,
.btn_next {
    background-color: #0f0e15;
    outline: none;
    color: $whiteColor;
    border-radius: 20px;
    @include widthOrHeight(100px, 35px);
    margin: 10px 50px;
    &:hover {
        color: #a20e15;
    }
}
.btn_next {
    float: right;
}
.none {
    display: none;
}
.block {
    display: block;
}
.title_order {
    text-align: center;
}

.active_link_menu {
    button {
        background: #cfa671;
        color: $whiteColor;
    }
}

.order_progress_bar {
    @include displayFlex(flex, space-evenly, none);
    margin: 15px auto;
}

.active {
    color: #d20a0a;
    font-size: 20px;
}

.date_text {
    color: black;
    text-align: center;
}

.name_and_phone {
    @include displayFlex(flex, none, column);
}
.label_order {
    margin-bottom: 5px;
    text-align: center;
}
.input_phone_name {
    @include widthOrHeight(300px, 45px);
    border-radius: 20px;
    padding: 15px;
    &:focus {
        border: 2px solid #feda4a;
    }
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.btn_menu {
    @include displayFlex(flex, space-between, none);
}

.order_final {
    display: flex;
    width: 90%;
    margin: 2px 0px 0px 60px;
}
.orderBirthday {
    @include displayFlex(flex, none, column);
    background: $whiteColor;
    box-shadow: 20px 20px 15px rgb(33 37 41);
    padding: 10px 10px;
    @include widthOrHeight(65%, 500px);
    overflow-y: scroll;
    border: 1px solid #eeeff0;
    border-radius: 20px;
    h1 {
        text-align: center;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    &_last {
        @include displayFlex(flex, space-around, none);
        @include widthOrHeight(98%, 50px);
        padding: 10px;
        margin: 10px 0px;
        background: $whiteColor;
        border-radius: 20px;
        align-items: center;
    }
    .order_menu {
        display: flex;
        margin: 10px auto;
        align-items: center;
        input {
            display: none;
        }
    }
}
.block_order_end {
    @include displayFlex(flex, none, column);
}
.info_people_order {
    @include displayFlex(flex, space-evenly, none);
    margin: 30px auto 20px auto;
}

.orderBirthday_tr {
    height: 40px;
    color: black;
}
.total_card {
    height: 36%;
    background: $whiteColor;
    box-shadow: 20px 20px 15px rgb(33 37 41);
    margin-left: 15px;
    text-align: center;
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.total_card_price {
    @include displayFlex(flex, space-between, none);
    margin: 15px auto;
}

.boundary_line {
    border: 1px solid rgb(15 14 21 / 54%);
    width: 90%;
    margin: 0px auto;
}
::-webkit-scrollbar-button {
    width: 6px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background-color: #32312e;
    box-shadow: 0px 0px 3px #000 inset;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #feda4a;
    height: 30px;
    box-shadow: 0px 1px 1px #fff inset;
    background-image: url("https://yraaa.ru/_pu/24/59610063.png");
    background-position: center;
    background-repeat: no-repeat;
}

::-webkit-scrollbar {
    width: 11px;
}
.table {
    text-align: center;
    align-items: center;
    width: 100%;
}
.table_menu_game {
    margin: 30px auto;
    color: black;
    margin-bottom: 0px;
}
.tbody_order {
    margin: 10px auto;
    td {
        vertical-align: text-top;
    }
}

.animation {
    animation: opasity 0.8s linear;
}
input.ng-invalid {
    border: 2px solid red;
}
input.ng-valid {
    border: 2px solid green;
}

.link_back {
    outline: none;
    text-decoration: none;
    color: black;
    h1 {
        margin: 10px 10px;
    }
    span {
        color: red;
    }
    &:hover {
        color: red;
    }
}

@media screen and (max-width: 1000px) {
    .calculator_section {
        margin-top: 0px;
    }
    .time_btn {
        width: 100%;
    }
    .input_phone_name {
        @include widthOrHeight(300px, 45px);
        border-radius: 20px;
        padding: 15px;
    }
    .total_card {
        margin-left: 10px;
        padding: 10px;
    }
    .orderBirthday {
        width: 60%;
    }
}
@media screen and (max-width: 780px) {
    .calculator_section {
        font-size: 17px;
    }
    .order_final {
        flex-direction: column;
        margin: 2px auto;
    }
    .orderBirthday {
        width: 100%;
        font-size: 25px;
    }
    .time_btn,
    .mat-form-field,
    .input_phone_name {
        @include widthOrHeight(60%, 50px);
        margin: 20px auto;
    }
    .label_order {
        font-size: 30px;
    }
    .total_card {
        @include widthOrHeight(70%, 30%);
        margin-left: 15%;
        font-size: 25px;
    }

    .data-time_block,
    .info_people_order {
        @include displayFlex(flex, none, column);
    }
    .count_btn-people {
        @include widthOrHeight(70px, 40px);
    }
    .count_people {
        font-size: 30px;
        .text {
            font-size: 30px;
        }
    }
    .btn_add,
    .btn_back,
    .btn_next {
        @include widthOrHeight(150px, 55px);
    }
    .add-Product_Btn {
        height: 50px;
    }
    .time_input {
        height: 100%;
    }
    .orderBirthday_tr {
        height: 100px;
        color: black;
        td {
            padding-top: 30px;
        }
    }
    .order_progress_bar {
        font-size: 25px;
    }
    .active {
        font-size: 25px;
    }
    .tbody_order {
        font-size: 20px;
    }
}
@media screen and (max-width: 600px) {
    .link_back {
        h1 {
            margin: 20px 0px 30px 0px;
        }
    }
    .time_input {
        width: 40%;
    }
    .orderBirthday {
        font-size: 17px;
    }
    .mobile_none {
        display: none;
    }
    .time_btn,
    .mat-form-field,
    .input_phone_name {
        @include widthOrHeight(95%, 50px);
        margin: 20px auto;
    }
    .time_birhday {
        width: 100%;
    }
    .info_people_order {
        margin-top: 20px;
    }
    .label_order {
        font-size: 25px;
    }
    .total_card {
        font-size: 20px;
        width: 90%;
        margin-left: 4%;
    }
    .btn_add,
    .btn_back,
    .btn_next {
        @include widthOrHeight(150px, 55px);
        margin: 0px 0px;
    }
    .add-Product_Btn {
        width: 100px;
        font-size: 15px;
    }
    .time_btn {
        width: 90%;
    }
}
@media screen and (max-width: 400px) {
    .block_assortment {
        overflow: scroll;
    }
    .time_input {
        width: 40%;
    }
}
