@import "../../../stylings/variables";

.box_detail {
    margin: 0px auto;
    display: flex;
    position: relative;
    animation: opasity 1.5s linear;
}

.img_detail {
    width: 500px;
    height: 400px;
}

.btn_all-game {
    animation: opasity 0.5s linear;
    outline-style: none;
    padding: 12px;
    background: #0f0e15;
    text-align: center;
    width: 30%;
    border-radius: 50px;
    color: $text_color;
    font-family: "Volkon-Bold";
    margin-bottom: 10px;
}

.game_info-txt {
    color: $text_color;
    margin: 0px 0px 0px 20px;
    font-family: "Volkon-Bold";
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.game_section {
    min-height: 90vh;
    width: 100%;
    background-image: url(../../../assets/images/home/fon_home1.jpg);
    align-items: center;
    display: flex;
    margin-top: 100px;
    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1000px) {
    .box_detail {
        animation: opasity 1s linear;
    }
    
    .img_detail {
        width: 300px;
        height: 300px;
    }

    .game_info-txt {
        font-size: 19px;
        line-height: 25px;
        letter-spacing: 2px;
    }

    .game_section {
        min-height: 83vh;
        margin-top: 0px;
        align-items: center;
        h1 {
            font-size: 20px;
        }
    }
    .btn_all-game {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
   
    .box_detail {
        display: flex;
        flex-direction: column;
    }
    .img_detail {
        // width: 90%;
        height: 300px;
        // margin: 10px 20px;
    }
    .media_phone {
        margin: 10px 20px;
        width: 90%;
        letter-spacing: 2px;
    }
}
