<section class="game_section">
    <div class="containerE ">
        <a class="" [routerLink]="[ '/games']">
            <button type="button" class="btn_all-game media_phone">
                All game
            </button>
        </a>
        <div class="box_detail">
            <div>
                <img class="img_detail media_phone " [src]="game?.imageGame" alt="imageGame">
            </div>
            <div class="game_info-txt media_phone">
                <div class="name_game">
                    <h1>Назва Гри: {{game?.nameGame}}.</h1>
                </div>
                <div class="description_game">

                    <p>Опис гри:{{game?.descriptionGame}}.</p>
                </div>
                <div class="time_game">
                    <p>Тривалість гри: {{game?.timeGame}} хв.</p>
                </div>
                <div class="price_game">
                    <p>Вартість гри за {{game?.timeGame}} хв з особи становить {{game?.priceGame}} грн.</p>
                </div>
            </div>
        </div>

    </div>
</section>