@import "../../../stylings/variables";

.box_detail {
    margin: 0px auto;
    display: flex;
    position: relative;
    animation: opasity 1.5s linear;
}

.img_detail {
    width: 500px;
    height: 400px;
}

.btn_all-game {
    animation: opasity 1s linear;
}

.game_info-txt {
    color: $text_color;
    margin: 0px 0px 0px 20px;
    font-family: "Volkon-Bold";
    font-size: 19px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.game_container {
    min-height: 68vh;
    width: 100%;
    background-image: url(../../../assets/images/home/fon_home1.jpg);
    align-items: center;
    display: flex;

    h1 {
        font-size: 25px;
    }
}
