<!-- <p>order-birthday works!</p> -->
<section class="birthday_section">
    <div class="container">
        <div class="birthday_title">
            <h2>Обирай свій варіант дня народження </h2>
        </div>
        <div class="row">
           
            <div class="birthday_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет Premium</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет Premium</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="..//..//..//assets/images/header_bg.jpg" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет Premium</h4>
                    <p>ігра в на вибування</p>
                </div>
            </div>
        </div>
    </div>



</section>