<!-- <p>order-birthday works!</p> -->
<section class="birthday_section">
    <div class="containerE">
        <div class="birthday_title">
            <h2>Обирай свій варіант дня народження </h2>
        </div>
        <div class="rowE">
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4> Пакет Склади сам</h4>

                    <!-- <a class="" [routerLink]="[ '/calculator-birhday/']">
                        <button type="button"  class="btn_package">
                            Замовити
                        </button>
                    </a> -->
                    <a class="" [routerLink]="[ '/calculator-birthday/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет Стандарт</h4>
                    <a class="" [routerLink]="[ '/calculator-standart/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет Преміум</h4>
                    <a class="" [routerLink]="[ '/calculator-premium/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>