<!-- <p>order-birthday works!</p> -->
<section class="birthday_section">
    <div class="containerE">
        <div class="birthday_title">
            <h2>Обирай свій варіант дня народження </h2>
        </div>
        <div class="rowE big_blok_birthday">
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4> Пакет <span>Склади сам</span> </h4>
                    <p>Максимальна кількість гостей <span>14</span> </p>
                    <p>Мінімальне замовлення по їжі і іграх від 1000 гривень</p>
                    <p>Тривалість свята 3 години</p>
                    <a [routerLink]="[ '/calculator-birthday/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет <span>Standart</span> </h4>
                    <p>Ціна за одну людину <span>300</span> гривень</p>
                    <p>В пакет включені всі ігри ,які пройде кожний гість по два раза</p>
                    <p>Максимальна кількість гостей <span>14</span></p>
                    <p>Тривалість свята 3 години</p>
                    <a [routerLink]="[ '/calculator-standart/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
            <div class="birthday_block">
                <img class="img_card" src="../../../assets/images/entertainment/vr.png" alt="header_bg">
                <div class="birthday_info">
                    <h4>Пакет <span>Premium</span></h4>
                    <p>Ціна за одну людину <span>600</span> гривень</p>
                    <p>В пакет включені всі ігри ,які пройде кожний гість по три раза</p>
                    <p>Включено їжа, кожному фірмина Лазер-піца і 0.5 сочку</p>
                    <p>Максимальна кількість гостей <span>14</span>.</p>
                    <p>Тривалість свята 5 годин</p>
                    <a [routerLink]="[ '/calculator-premium/']">
                        <button type="button" class="btn_package">
                            Замовити
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>